# .gitignore
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.flask_session/
uploads/ # Optional: If you don't want uploaded examples in Git
generated/ # Optional: If you don't want generated examples in Git
*.DS_Store